@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap');
/*  font-family: 'Barlow', sans-serif;
    font-family: 'Heebo', sans-serif;
*/

.text-box{
    margin-left: 100px;
    width: ;
    background-color: gray;
}