header{
    display: flex;
    justify-content: space-between;
}

.menu{
    display: flex;
    list-style: none;
}

.item-menu{
    padding: 20px;
    
}

.item-menu a{
    text-decoration: none;
}

.line{
    background-color: black;
    height: 1px;
    width: 1110px;
    margin-top: 50px;
    margin-left: ;
}