body{
    background-image: url(../assets/);
}



.slide-item{
    display: flex;
}

.slide-item > div{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30vw;
}

.slide-item > img{
    margin: 0;
}