.slider {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .slider-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .slider-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 400px;
    margin: 0 10px;
  }
  
  .slider-item img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  
  .slider-item-text {
    padding: 0 20px;
  }
  
  .slider-item-text h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .slider-item-text p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  
  /* Estilos para o slider */
.slider {
  position: relative;
  height: 500px;
  overflow: hidden;
}

.slider input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.slider .slider-content {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider input[type="radio"]:checked ~ .slider-content {
  transform: translateX(-100%);
}

.slider-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
}

.slider-item img {
  height: 80%;
  margin-right: 20px;
}

/* Estilos para os textos */
.slider-item div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilos específicos para cada slide */
.slider input[type="radio"]#slide1:checked ~ .slider-content .slider-item:nth-child(1),
.slider input[type="radio"]#slide2:checked ~ .slider-content .slider-item:nth-child(2),
.slider input[type="radio"]#slide3:checked ~ .slider-content .slider-item:nth-child(3),
.slider input[type="radio"]#slide4:checked ~ .slider-content .slider-item:nth-child(4) {
  background-color: #000;
}

.slider input[type="radio"]#slide1:checked ~ .slider-content .slider-item:nth-child(1) div,
.slider input[type="radio"]#slide2:checked ~ .slider-content .slider-item:nth-child(2) div,
.slider input[type="radio"]#slide3:checked ~ .slider-content .slider-item:nth-child(3) div,
.slider input[type="radio"]#slide4:checked ~ .slider-content .slider-item:nth-child(4) div {
  order: -1;
}

.slider input[type="radio"]#slide1:checked ~ .slider-content .slider-item:nth-child(1) img,
.slider input[type="radio"]#slide2:checked ~ .slider-content .slider-item:nth-child(2) img,
.slider input[type="radio"]#slide3:checked ~ .slider-content .slider-item:nth-child(3) img,
.slider input[type="radio"]#slide4:checked ~ .slider-content .slider-item:nth-child(4) img {
  transform: translateX(-50%);
}
