@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap');
/*  font-family: 'Barlow', sans-serif;
    font-family: 'Heebo', sans-serif;
*/

:root{
    --title-font: 'Barlow';
    --paragraph-font: 'Heebo';
}




body{
    background-image: url(../assets/crew/background-crew-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}



h1{
    color: white !important;
    font-family: var(--title-font);
    font-weight: 200;
    margin-left: 30px;
    padding: 15px;
    text-transform: uppercase;
}



.carousel-inner img{
    margin-left: 200px;
    width: 350px;
    height: 400px;
}

.text-box{
    position: absolute;
    top: 20%;
    left: 50%;
    color: white;
    width: 38vw;
    font-family: var(--paragraph-font);
}

.text-box > h2{
    font-size: 26px;
    color: #b4b3b3;
}

.text-box > h3{
    font-size: 50px;
}

.text-box > p{
    color: #b4b3b3;
}
