@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap');
/*  font-family: 'Barlow', sans-serif;
    font-family: 'Heebo', sans-serif;
*/

:root{
    --title-font: 'Barlow';
    --paragraph-font: 'Heebo';
}

body{
    background-image: url(../assets/home/background-home-desktop.jpg);
    background-size: cover;
    background-position: center center;
    overflow-x: hidden;
}


.text-box{
    margin-top: 150px;
    padding: 30px;
    margin-left: 100px;
    width: 30vw;
    color: white;
    z-index: 700;
    overflow-x: hidden;
}

span{
    font-family: var(--paragraph-font);
    font-size: 22px;
    text-transform: uppercase;
}

h1{
    font-family: var(--title-font);
    font-size: 90px;
    font-weight: 200;
    text-transform: uppercase;
}

p{
    font-family: var(--paragraph-font), sans-serif;
    font-size: 18px;
}

.container-button{
    float: right;
    margin-top: 230px;
    margin-right: 90px;
    margin-bottom: 30px;
}

.container-button button{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    font-size: 40px;
    font-family: var(--paragraph-font);
    font-weight: 200;
    text-transform: uppercase;
}

@media screen and (max-width: 990px){
    body{
        background-image: url(../../starter-code/assets/home/background-home-mobile.jpg);
        overflow-x: hidden;
    }
 
    .text-box{
       position: absolute;
       padding: 0;
       width: 75vw;
       margin: auto;
       margin-top: 30px;
       text-align: center;
       overflow-x: hidden !important;
    }
    

    h1{
        font-family: var(--paragraph-font);
        text-transform: none;
        padding: 4px;
    }

    .container-button {
            margin-top: 500px;
            width: 60vw;
            text-align: center;
            overflow-x: hidden !important;
        }

        .container-button > button{
            width: 200px;
            height: 200px;
            font-size: 28px;
        }

}