@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap');
/*  font-family: 'Barlow', sans-serif;
    font-family: 'Heebo', sans-serif;
*/

:root{
    --title-font: 'Barlow';
    --paragraph-font: 'Heebo';
}




body{
    background-image: url(../assets/technology/background-technology-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}



h1{
    font-family: var(--title-font);
    padding: 40px;
    font-weight: lighter;
    color: white !important;
}

strong{
    color: #393941;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: flex;
    flex-wrap: ;
}

.button-container{

}

.text-box{
    color: white;
}